.player-wrapper {
  margin: 200px;
}

.sound-player {
  
  &-wrapper {
    width: 530px;
    height: 65px;
    border: solid 1px black;
    border-radius: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    font-size: 11px;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }
}

  &-title {
    font-size: 18px;
    font-weight: 600;
    font-family: "Yanone Kaffeesatz";
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 45px;
    color: #404040;

    &::first-letter {
      color: #08f;
      text-transform: uppercase;
    }
  }

  &-toolbar {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0088ff;
  }

  &-play-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #404040;
    display: block;
    margin: 0;
    cursor: pointer;
  }

  &-stop-button {
    display: none;
    cursor: pointer;
    width: 5px;
    height: 15px;
    border-right: 5px solid #404040;
    border-left: 5px solid #404040;
  }

  &-progress-wrapper {
    width: 260px;
    height: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &-progress-line {
    width: 100%;
    height: 5px;
    background-color: #404040;
    cursor: pointer;
  }

  &-progress-bar {
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% + 5px), -50%);
    pointer-events: none;
    cursor: pointer;
    background-color: #0088ff;
    
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #0088ff;
      right: -5px;
      top: 50%;
      transform: translateY(-55%);
    }
  }

  &-speed-changer {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
    color: #404040;

    button {
      color: #0088ff;
    }

    &:hover {
      color: #404040;

      .sound-player-speed-changer-menu {
        display: flex;
      }
    }

    &-menu {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      background-color: #ffffff;
      border: 1px solid #404040;
      border-radius: 10px;

      button {
        border-bottom: 1px solid #404040;
        width: 100%;
        
        &:last-child {
          border: none;
        }

        &:hover {
          color: #404040;
        }
      }
    }
  }

  &-volume-changer {
    height: 15px;
    cursor: pointer;
    position: relative;

    input {
      -webkit-appearance: none;
      width: 100%;
      
      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        height: 50%;
        cursor: pointer;
        background: #08f;
        border-radius: 25px;
      }

      &::-webkit-slider-thumb {
        height: 13px;
        width: 12px;
        border-radius: 12px;
        background: #404040;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
      }
    }

    &:hover {
      .sound-player-volume-slider {
        display: block;
      }  
    }

    .sound-player-volume-slider {
      background-color: transparent;
      display: none;
      position: absolute;
      width: 50px;
      transform: rotate(-90deg) translate(65%, 55%);
      top: 0;
      left: -25px;
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

  &-upload-wrapper {
    cursor: pointer;
    position: relative;

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;
      width: 15px;
    }

    label {
      cursor: pointer;
    }

    img {
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
  }

  &-download-button {
    height: 15px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}