.sound-player {
  
  &-wrapper {
    width: 530px;
    height: 65px;
    border: solid 1px black;
    border-radius: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    font-size: 11px;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }
}

  &-title {
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 60px;
  }

  &-toolbar {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-play-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #000000;
    display: block;
    margin: 0;
    cursor: pointer;
  }

  &-stop-button {
    display: none;
    cursor: pointer;
    img {
      width: 23px;
      height: 23px;
    }
  }

  &-progress-wrapper {
    width: 260px;
    height: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &-progress-line {
    width: 100%;
    height: 5px;
    background-color: #cccaca;
    cursor: pointer;
  }

  &-progress-bar {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: black;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% + 5px), -50%);
    pointer-events: none;
    cursor: pointer;
    
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: black;
      right: -5px;
      top: 50%;
      transform: translateY(-55%);
    }
  }

  &-speed-changer {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;

    &:hover {
      .sound-player-speed-changer-menu {
        display: flex;
      }
    }

    &-menu {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      background-color: #ffffff;
    }
  }

  &-volume-changer {
    height: 15px;
    cursor: pointer;
    position: relative;

    &:hover {
      .sound-player-progress-wrapper {
        display: flex;
      }  
    }

    .sound-player-progress-wrapper {
      display: none;
      background-color: white;
      position: absolute;
      width: 50px;
      transform: rotate(-90deg) translate(60%, 50%);
      top: 0;
      left: -25px;
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

  &-upload-wrapper {
    cursor: pointer;
    position: relative;

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;
      width: 15px;
    }

    label {
      cursor: pointer;
    }

    img {
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
  }

  &-download-button {
    height: 15px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}